<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>City of Pawnee Employees</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="icon" href="img/site-icon.png">

        <!-- hot link to minified Angular library -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js"></script>
        
    </head>
    <body ng-app="AddressBook" ng-controller="AddressController">
        <main class="container-fluid">
            <header class="page-title">
                <h1>City of Pawnee Address Book</h1>
            </header>

            <section>
                <!-- sort buttons; you will add attributes and code to make them resort the list -->
                <div class="sort-ui">
                    <span>Sort By: </span>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" ng-click="sortCol = 'lastName'" ng-class="{sorted: lastName}">Last Name</button>
                        <button type="button" class="btn btn-default" ng-click="sortCol = 'firstName'" ng-class="{sorted: firstName}">First Name</button>
                        <button type="button" class="btn btn-default" ng-click="sortCol = 'department'" ng-class="{sorted: department}">Department</button>
                    </div>
                </div>
                <!-- filter input; you will add attributes to make this filter the list based on value entered -->
                <div class="filter-ui">
                    <input type="text" class="form-control" placeholder="Search..." ng-model="searchString">
                </div>
            </section>

            <section>
                <ul class="cards">
                    <li class="card" ng-repeat="emp in employees | filter:searchString | orderBy:sortCol">
                        <!-- this img should show the employee picture --> 
                        <img alt="picture of {{emp.firstName}} {{emp.lastName}}" ng-src="{{emp.picUrl}}">
                        <div class="details">
                            <h2 class="name">{{emp.firstName}} {{emp.lastName}}</h2>
                            <p class="title">{{emp.title}}</p>
                            <p class="department">{{emp.department}}</p>
                            <p class="phone"><a ng-if="emp.phone" ng-href="tel:emp.phone">{{emp.phone}}</a></p>
                            <p class="email"><a ng-if="emp.email" ng-href="mailto:emp.email">{{emp.email}}</a></p>
                        </div>
                    </li>
                </ul>
            </section>
            
        </main>

        <!-- link to employee data
        this adds a global variable named 'pawneeEmployees', which is an array of objects (see js/employees.js file)
        -->
        <script src="js/employees.js"></script>
        
        <!-- link to your Angular application -->
        <script src="js/app.js"></script>
    </body>
</html>